html{
    background-color: slategray;
}

html,body,#root,.App{
    margin: 0; 
    height: 100%;
    overflow: hidden;
}

header,body,#root,.App{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
}

.NavBar{
    position: absolute;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    height: 7%;
    width: 100%; 
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.4);
}

.NavBarDiv{
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

footer{
    position: absolute;
    bottom: 0;
    display: flexbox; 
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    text-align: center;
    height: 1.5vh;
    width: 100%; 
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.4);
}

footer,button{
    background-color: transparent;
    color: rgba(0,0,0,0.8);
    font-family: monospace;
    font-weight: bold;
    border-style: none;
    margin-bottom: 5px;
}

#altButton{
    color: rgba(0,0,0,0.8);
    margin-bottom: auto;
    top: auto;
}

footer,button,#altButton:hover{
    cursor:pointer;
}

#footerDiv{
    display: flex; 
    align-content: center; 
    justify-content: flex-end
}

#footerAbout{
    margin-left: 20px;
}

#feedDiv{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
}

#feedForm{
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.2);
    padding: 0;
    margin-top: 4vh;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 4vh;
    height: 4vh;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 25px;
    overflow: hidden;
}

#searchInput{
    display: flexbox;
    flex-grow: 1;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    color: black;
    background-image: url('./images/woodenPanel1.png');
    opacity: 0.8;
    background-color: rgba(155,155,155,.3);
    background-blend-mode: color-dodge;
    background-size: contain; 
    border-style: none; 
    border-color: black; 
    border-width: 1px;
    width: 70vh; 
    height: 100%;
}

#searchButton{
    display: flexbox;
    flex-grow: 1;
    align-items: center;
    color: black;
    margin: 0;
    padding: 0;
    width: 20vh;
    height: 100%; 
    background-color: seashell; 
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
}

#searchButton:active{
    background-color: rgba(100,100,100,0.4) 
}

#imgBanner{
    width: auto;
    height: auto;
    padding-right: 45px;
    padding-left: 20px;
    cursor: pointer;
}

#imgBanner:active{
    box-shadow: 0 0 3px black inset, 0 0 3px black inset;
}

#bodyDiv{
    display: flex; 
    width: 100%; 
    height: 100%; 
    align-content: space-between; 
    justify-content: space-between; 

    background-image: url('./images/background8.png');
    background-size: cover;
    background-position: top;
    background-blend-mode: color-dodge;
}

.column{
    display: flex;
    height: 100%;
}

#col-1{
    /*background-color: rgba(155, 155, 155, .1);*/
    box-shadow: 3px 0px 24px rgb(228, 228, 228);
    width: 13%;
    max-width: 294px;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 0;
    z-index: 1;

    background-image: url('./images/woodenPanel2.png');
    background-color: rgba(55, 55, 55, .3);;
    opacity: 1;
    background-blend-mode: color;
    background-size: 22%;
}

#col-2{
    width: auto;
    height: 100%;
    flex-grow: 1;
    /*background-image: url('./images/background8.jpg'); */
    /*background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(155,255,155,0.1);*/
    background-blend-mode: color-dodge;
    overflow-y: hidden;
}

#FeedRoot{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    justify-self: center;
    height: 90%;
    width: 80%;
    padding: 0;
    overflow-y: hidden;

    border-radius: 25px;
}

#FeedPosts{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 25px;
}

#newPostDiv{
    background-color: rgba(0,0,0,0.2);
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 80%;
    min-height: 5vh;
    height: 5vh;

    border-style: solid;
    border-color: whitesmoke;
    border-radius: 25px;
}

.PostDiv{
    background-color: rgba(0,0,0,0.2);
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 40vw;
    min-height: 10vh;
    height: fit-content;

    border-style: solid;
    border-color: whitesmoke;
    border-radius: 25px;
}

#col-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/woodenPanel2.png);
    background-size: 22%;
    background-color:rgba(55, 55, 55, .3);
    box-shadow: -3px 0px 24px rgb(228, 228, 228);
    background-blend-mode: color;
    width: 25%;
    z-index: 10;
}

#col-3>h1{
    display: flexbox;
    color: white;
    width: 100%;
    flex-grow: 1;
    font-size: 1.7vh;
    max-height: 3%;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Set the size of the div element that contains the map */
#gmap_canvas {
    height: 100%;
    width: 100%;
}

.mapouter{
    position: relative; 
    text-align: right;
    height: 30%; 
    width: 90%;
    border-style: double;
    border-width: 7px;
    border-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.gmap_canvas{
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

#trendingDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 15px 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    width: 86%;
    height: 50%;
    flex-grow: 1;
    background-color:rgba(55, 55, 55, .3);
    border-style: double;
    border-width: 2px;
    border-color: white;
    border-radius: 25px;
}

#trendingList{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    height: 100%;
    width: 100%;
}

.trendEntry{
    display: flexbox;
    flex-direction: row;
    background-color: rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 97%;
    height: fit-content;

    border-radius: 25px;
}

.trendEntry > a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.trendEntry > a > img{
    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.trendEntryDiv{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;


    height: 100%;
    width: 100%;
}

.trendEntryDiv > h3{
    color: rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

    text-align: left;
    vertical-align: middle;

    margin: 0;
    padding: 0;
    margin-top: 2px;
    padding-left: 40%;
    padding-bottom: 2px;
}

.trendEntryDiv > span{
    color: white;
    align-self: flex-start;
    text-align: center;
    vertical-align: middle;

    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.trendEntryDiv > div{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    color: rgb(211, 211, 211);
    align-self: center;
    margin: 0;
    padding: 0;
    margin-top: auto;

    padding-right: 5%;
    padding-top: 15px;
    padding-bottom: 5px;
}

/* width */
#FeedPosts::-webkit-scrollbar {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f128; 
    border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.LeftPanel{
    align-self: center;
    color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 0;
    margin-right: auto;
    padding-left: 22px; 
    font-size: 1.7vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: left;
    flex-wrap: nowrap;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.LeftPanel:hover{
    background-color: rgba(255,255,255,.5);
}

.LeftPanel:active{
    background-color: rgba(100,100,100,0.4) !important;
}

#logout{
    margin-top: auto;
    padding-top: auto;
    padding-bottom: auto;
    border-top: 2px solid rgb(228, 228, 228);
    /*background-image: url('./images/woodenPanel1.png');*/
    background-size: 22%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    font-size: 1.7vh;
    word-wrap: nowrap;
}

#logout:hover{
    background-blend-mode: color-dodge;
    background-color: rgba(255,0,0,.5);
}

#ProfileLeftPanel{
    align-self: center; 
    padding-bottom: 25px; 
    padding-top: 25px; 
    margin-right: auto; 
    padding-left: 22px; 
    font-size: large; 
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
    text-align: left;
}

#profile{
    display: flex; 
    margin: 0; 
    max-width: 100%; 
    height: fit-content; 
    flex-direction: column;
    border-bottom: 2px solid white; 
    padding-bottom: 15px;
    /*background-image: url('./images/woodenPanel1.png');*/
    background-size: 22%;
}

#profile:hover{
    cursor: pointer;
}

#profile:active{
    box-shadow: 2px 2px 12px black inset, -2px -2px 12px black inset;
}

#profileUsername{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    align-self: center; 
    justify-self: flex-end;
    width: 100%;
    padding: 0;
    padding-top: 2%;
    margin: 0;
    font-size: 1.7vh;
    text-align: center;
    word-break: break-all;
}

#profilePic{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;

    border-radius: 50%; 
    border-style: double; 
    border-color: black; 
    border-width: 2px; 
    background-color: darkslategray; 
    display: inline-block; 
    height: 100%; 
    width: 30%; 
    margin-top: 5%; 
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 1080px) {
    #imgBanner{
        width: 0;
        height: 0;
    }
}